.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
  background: none !important;
  padding: 0 !important;
}

.react-grid-item > .react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}
.react-grid-item > .react-resizable-handle-sw::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TAP9bkSK1AAAAG0lEQVR4nGNgYGBgbAAhIOBtACEgyG0AIQYGADLrA/fT+OTQAAAAAElFTkSuQmCC");
  bottom: 3px;
  left: 3px;
  transform: rotate(90deg);
}

.react-grid-item > .react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle-se::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TAP9bkSK1AAAAG0lEQVR4nGNgYGBgbAAhIOBtACEgyG0AIQYGADLrA/fT+OTQAAAAAElFTkSuQmCC");
  right: 3px;
  bottom: 3px;
}

.react-grid-item > .react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
}
.react-grid-item > .react-resizable-handle-nw::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TAP9bkSK1AAAAG0lEQVR4nGNgYGBgbAAhIOBtACEgyG0AIQYGADLrA/fT+OTQAAAAAElFTkSuQmCC");
  top: 3px;
  left: 3px;
  transform: rotate(180deg);
}

.react-grid-item > .react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
}
.react-grid-item > .react-resizable-handle-ne::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TAP9bkSK1AAAAG0lEQVR4nGNgYGBgbAAhIOBtACEgyG0AIQYGADLrA/fT+OTQAAAAAElFTkSuQmCC");
  top: 3px;
  right: 3px;
  transform: rotate(270deg);
}

.react-grid-item > .react-resizable-handle-w,
.react-grid-item > .react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-grid-item > .react-resizable-handle-w {
  left: 0;
}
.react-grid-item > .react-resizable-handle-w::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TAP9bkSK1AAAAEUlEQVR4nGNgYGDgbQAhbAwAMFcDT05lLmoAAAAASUVORK5CYII=");
  left: 3px;
  top: 5px;
  transform: rotate(180deg);
}
.react-grid-item > .react-resizable-handle-e {
  right: 0;
}
.react-grid-item > .react-resizable-handle-e::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TAP9bkSK1AAAAEUlEQVR4nGNgYGDgbQAhbAwAMFcDT05lLmoAAAAASUVORK5CYII=");
  right: 3px;
  top: 5px;
  transform: rotate(0deg);
}

.react-grid-item > .react-resizable-handle-n,
.react-grid-item > .react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-grid-item > .react-resizable-handle-n {
  top: 0;
}
.react-grid-item > .react-resizable-handle-n::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TAP9bkSK1AAAAEUlEQVR4nGNgYGDgbQAhbAwAMFcDT05lLmoAAAAASUVORK5CYII=");
  left: 5px;
  top: 3px;
  transform: rotate(270deg);
}
.react-grid-item > .react-resizable-handle-s {
  bottom: 0;
}
.react-grid-item > .react-resizable-handle-s::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TAP9bkSK1AAAAEUlEQVR4nGNgYGDgbQAhbAwAMFcDT05lLmoAAAAASUVORK5CYII=");
  left: 5px;
  bottom: 3px;
  transform: rotate(90deg);
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0.3;
}

.react-grid-item.handle-hover .react-resizable-handle,
.react-grid-item.handle-hover .react-resizable-handle-sw,
.react-grid-item.handle-hover .react-resizable-handle-se,
.react-grid-item.handle-hover .react-resizable-handle-nw,
.react-grid-item.handle-hover .react-resizable-handle-ne,
.react-grid-item.handle-hover .react-resizable-handle-w,
.react-grid-item.handle-hover .react-resizable-handle-e,
.react-grid-item.handle-hover .react-resizable-handle-s,
.react-grid-item.handle-hover .react-resizable-handle-n {
  visibility: hidden;
}
.react-grid-item.handle-hover:hover .react-resizable-handle,
.react-grid-item.handle-hover:hover .react-resizable-handle-sw,
.react-grid-item.handle-hover:hover .react-resizable-handle-se,
.react-grid-item.handle-hover:hover .react-resizable-handle-nw,
.react-grid-item.handle-hover:hover .react-resizable-handle-ne,
.react-grid-item.handle-hover:hover .react-resizable-handle-w,
.react-grid-item.handle-hover:hover .react-resizable-handle-e,
.react-grid-item.handle-hover:hover .react-resizable-handle-s,
.react-grid-item.handle-hover:hover .react-resizable-handle-n,
.react-grid-item.handle-hover.resizing .react-resizable-handle,
.react-grid-item.handle-hover.resizing .react-resizable-handle-sw,
.react-grid-item.handle-hover.resizing .react-resizable-handle-se,
.react-grid-item.handle-hover.resizing .react-resizable-handle-nw,
.react-grid-item.handle-hover.resizing .react-resizable-handle-ne,
.react-grid-item.handle-hover.resizing .react-resizable-handle-w,
.react-grid-item.handle-hover.resizing .react-resizable-handle-e,
.react-grid-item.handle-hover.resizing .react-resizable-handle-s,
.react-grid-item.handle-hover.resizing .react-resizable-handle-n {
  visibility: visible;
}
